.game-over {
    position: absolute;
    font-size: 50px;
    left: 32%;
    bottom: 35%;
    background-color: $backgroundGreen;
    width: 700px;
    height: 300px;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    opacity: 0.9;
}
