.hangman-box-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;

  .game-over-hangman {
    position: fixed;
    bottom: 50%;
    width: 900px;
    height: 150px;
    background-color: rgba(28, 67, 64, 0.7);
    font-size: 50px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-self: center;
  }

  .svg-box {
    .svg-img {
      width: 500px;
      height: 500px;
      border: 1px solid black;
    }
  }

  .word-guess {
    display: flex;
    flex-direction: column;
    align-items: center;

    .guess-letters,
    .correct-letters {
      font-size: 35px;
      margin: 20px;
    }
  }

  .alphabet-wrapper {
    display: flex;
    flex-direction: row;
    margin-top: 20px;
    justify-content: center;

    .alphabet-letter {
      border: 1px solid black;
      margin: 1px;
      width: 30px;
      height: 30px;
      outline: none;
      border-style: solid;
      font-size: 20px;
      border-radius: 5px;
    }

    &:disabled {
      &:hover {
        background-color: transparent;
        color: blue;
      }
    }

    &.diagonal-strike {
      background: linear-gradient(
        to left top,
        transparent 47.75%,
        currentColor 49.5%,
        currentColor 50.5%,
        transparent 52.25%
      );

      &:hover {
        color: green;
        background-color: red;
      }
    }
  }

  .score-strikes {
    display: flex;
    flex-direction: row;
    color: $darkGreen;
    justify-content: center;
    font-style: italic;

    .score,
    .strikes {
      align-self: flex-end;
      margin: 20px;
    }
  }
}
