.hangman-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: $darkGreen;
  height: 90%;

  .hangman-header {
    font-size: 50px;
  }

  .welcome-header {
    margin: 10px;
    font-size: 30px;
  }
  .name-input {
    width: 300px;
    margin: 10px auto;
    padding: 2px;
    text-align: center;
    outline: none;
    font-size: 17px;
    color: $darkGreen;
    border: 2px solid $darkGreen;

    &::placeholder {
      color: $darkGreen;
      opacity: 0.7;
      font-style: italic;
    }
  }

  .start-stop {
    width: 120px;
    height: 30px;
    padding: 5px;
    font-size: 18px;
    background: transparent;
    color: $darkGreen;
    outline: none;
    border: 1px solid #010f0e;

    &:hover:not([disabled]) {
      color: $beige;
      transition: ease-in-out 0.3s;
      background-color: $backgroundGreen;
      cursor: pointer;
      border: 1px solid #010f0e;
    }

    &:disabled {
      opacity: 0.8;
    }
  }
}
