* {
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
}

#app {
  width: 100%;
  height: 100%;
}

body {
  background-color: $beige;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;

  .root {
    width: 100%;
    height: 85vh;
    text-align: center;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .home-box {
    margin: auto;

    .home-header {
      font-size: 100px;
      color: $darkGreen;
      -webkit-text-stroke: 3px #021b19;
    }
    .home-para {
      color: $darkGreen;
      font-size: 30px;
      font-weight: 800;
      letter-spacing: 0.2em;
      margin: 5px;
    }

    .view-projects-btn {
      margin-top: 40px;
      font-size: 20px;
      padding: 10px;
      background: transparent;
      color: $darkGreen;
      font-weight: 700;
      outline: none;
      border: 2px solid $darkGreen;

      &:hover {
        color: $beige;
        transition: ease-in-out 0.3s;
        background-color: $backgroundGreen;
        cursor: pointer;
        border: 2px solid $darkGreen;
      }
    }
  }

  .links {
    position: fixed;
    left: 1%;
    bottom: 1%;
    display: flex;
  }

  .link {
    margin: 5px;
    padding: 5px;
  }

  .email-wrapper {
    position: fixed;
    right: 1%;
    bottom: 2%;
  }

  .copy-mail-notification {
    font-size: 13px;
    font-style: italic;
    margin: 5px;
    color: $darkGreen;
  }

  .email-inp {
    width: 260px;
    font-size: 18px;
    background-color: transparent;
    border: none;
    color: $darkGreen;
    font-weight: 600;
    outline: none;
    font-style: italic;

    &::selection {
      outline: none;
    }
  }

  .copy-mail-btn {
    width: 100px;
    height: 23px;
    font-size: 15px;
    background-color: transparent;
    border: 2px solid $darkGreen;
    color: $darkGreen;
    font-weight: 600;

    &:hover {
      color: $beige;
      transition: ease-in-out 0.3s;
      background-color: $backgroundGreen;
      cursor: pointer;
      border: 2px solid $darkGreen;
    }
  }
}
