.mtg-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .header {
    color: $darkGreen;
    font-size: 40px;
  }

  .filters-wrapper {
    border: 1px solid $darkGreen;
    height: 60px;
    width: 85%;
    margin: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;

    .name-filter {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 50%;
      border-right: 1px solid $darkGreen;

      .input-filter {
        height: 25px;
        width: 450px;
        margin: 2px;
        padding: 3px;
        color: $darkGreen;
        font-size: 18px;
      }
    }

    .color-filter {
      width: 50%;
      align-self: center;
      display: flex;
      justify-content: space-evenly;

      .color-filter-header {
        align-self: center;
      }

      .color {
        font-size: 20px;
      }

      .color-checkbox {
        display: flex;
        align-items: center;
        margin-right: 5px;

        &:last-child {
          margin-right: 0;
        }
        input {
          margin-left: 5px;
        }
      }
    }

    .order-filter {
      width: 30%;
      display: flex;
      flex-direction: row;
      justify-content: center;
      border-left: 1px solid $darkGreen;

      .order-filter-header {
        align-self: center;
        padding: 10px;
      }

      .order-btn {
        width: 120px;
        height: 35px;
        align-self: center;
        margin: 5px;
        border: 1px solid $darkGreen;
        outline: none;
        background-color: transparent;
        font-size: 18px;

        &:hover {
          background-color: $backgroundGreen;
          color: $beige;
          transition: ease-in-out 0.2s;
        }
      }
    }
  }

  .loader {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-items: center;

    margin-top: 15%;

    .text-loader {
      font-size: 30px;
      color: $darkGreen;
      margin: 15px;
    }

    .lds-ellipsis {
      display: inline-block;
      position: relative;
      width: 80px;
      height: 80px;
      margin: auto;
    }
    .lds-ellipsis div {
      position: absolute;
      top: 33px;
      width: 13px;
      height: 13px;
      border-radius: 50%;
      background: $darkGreen;
      animation-timing-function: cubic-bezier(0, 1, 1, 0);
    }
    .lds-ellipsis div:nth-child(1) {
      left: 8px;
      animation: lds-ellipsis1 0.6s infinite;
    }
    .lds-ellipsis div:nth-child(2) {
      left: 8px;
      animation: lds-ellipsis2 0.6s infinite;
    }
    .lds-ellipsis div:nth-child(3) {
      left: 32px;
      animation: lds-ellipsis2 0.6s infinite;
    }
    .lds-ellipsis div:nth-child(4) {
      left: 56px;
      animation: lds-ellipsis3 0.6s infinite;
    }
    @keyframes lds-ellipsis1 {
      0% {
        transform: scale(0);
      }
      100% {
        transform: scale(1);
      }
    }
    @keyframes lds-ellipsis3 {
      0% {
        transform: scale(1);
      }
      100% {
        transform: scale(0);
      }
    }
    @keyframes lds-ellipsis2 {
      0% {
        transform: translate(0, 0);
      }
      100% {
        transform: translate(24px, 0);
      }
    }
  }

  .card-wrapper {
    display: flex;
    text-align: center;

    .card-list {
      margin: 20px;
      display: inline-grid;
      grid-template-columns: 300px 300px 300px 300px 1fr;
      column-gap: 35px;
      row-gap: 5px;

      .card {
        border: 1px solid black;
        margin: auto;
        padding: 10px;
        width: 300px;
        height: 500px;
        list-style-type: none;
      }

      .card-img {
        width: 200px;
        height: 300px;
        margin: 5px;
      }
    }
  }
}
