.back-btn {
  font-size: 20px;
  background-color: transparent;
  outline: none;
  border: none;
  text-decoration: none;
  margin: 30px;

  &:hover {
    text-decoration: underline;
  }

  &:visited {
    color: $darkGreen;
  }
}
