.projects-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .header {
    color: $darkGreen;
    margin-top: 90px;
    display: flex;
    justify-content: center;
  }

  .project-list {
    width: 90%;
    margin: auto;
    margin-top: 80px;
    list-style-type: none;
    display: flex;
    flex-direction: column;

    .first-row,
    .second-row {
      display: flex;
      margin: auto;

      .project-box {
        width: 380px;
        height: 250px;
        border: 2px solid black;
        display: flex;
        justify-content: center;
        margin: 10px;

        &:hover {
          transition: 0.2s ease-in-out;
          background-color: $backgroundGreen;
          opacity: 0.9;
        }
        &:hover .project-header {
          transition: 0.2s ease-in-out;
          color: $beige;
        }

        .project-header {
          margin: auto;
          font-size: 30px;
          text-decoration: none;
          color: $darkGreen;
          display: flex;
          flex-direction: column;
          align-items: center;
        }
      }
    }
  }
}
