.quiz-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 100px;

  .quiz-header {
    color: $darkGreen;
    font-size: 30px;
    margin: 40px 0 20px 0;
  }

  .question-header {
    color: $darkGreen;
    padding: 30px;
    font-size: 35px;
    text-align: center;
    margin: 20px 0;
  }

  .answers-container {
    display: flex;
    flex-direction: column;

    .answer-button {
      width: 700px;
      height: 60px;
      margin: 5px auto;
      outline: none;
      font-size: 25px;
      color: $darkGreen;
      border: 1px solid $darkGreen;
      border-radius: 8px;
      transition: ease-in-out 0.2s;
      cursor: pointer;

      &:hover {
        background-color: $backgroundGreen;
        color: $beige;
        border: 1px solid $darkGreen;
      }
    }
  }

  .question-number {
    font-size: 20px;
    margin: 50px 0 30px 0;
    font-style: italic;
    color: $darkGreen;
  }
}
