.snake-wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 70px;    

    .snake-header {
        margin: 40px;
        font-size: 45px;
        color: $darkGreen;
    }

    .start-btn {
        margin-top: 30px;
        width: 120px;
        height: 35px;
        font-size: 20px;
        background: transparent;
        color: $darkGreen;
        font-weight: 700;
        outline: none;
        border: 2px solid #010f0e;

        &:hover {
            color: $beige;
            transition: ease-in-out 0.3s;
            background-color: $backgroundGreen;
            cursor: pointer;
            border: 2px solid #010f0e;
        }
    }

    .score {
        margin: 20px;
        font-size: 20px;
        font-style: italic;
        color: $darkGreen;
    }
}

.snake-container {
    margin: auto;

    .canvas-board {
        border: 3px solid $darkGreen;
    }
}
