.todo-wrapper {
  border: 1px solid $darkGreen;
  width: 70%;
  margin: auto;
  margin-top: 30px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .header {
    margin: 10px;
    color: $darkGreen;
    font-size: 40px;
  }

  .input-btn-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 90%;

    .input-wrapper {
      display: flex;
      flex-direction: column;
      width: 90%;

      .input {
        padding: 5px;
        font-size: 15px;
        outline: none;
        color: $darkGreen;
        margin: 1px;

        &::placeholder {
          font-style: italic;
        }
      }
    }

    .add-to-list-btn {
      font-size: 18px;
      background: transparent;
      color: $darkGreen;
      font-weight: 700;
      outline: none;
      border: 1px solid $darkGreen;
      padding: 2px;

      &:hover {
        color: $beige;
        transition: ease-in-out 0.2s;
        background-color: $backgroundGreen;
        cursor: pointer;
        border: 1px solid $darkGreen;
      }
    }
  }

  .list-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 90%;

    .list {
      height: 600px;
      overflow: auto;
      display: flex;
      flex-direction: column;

      .item {
        border: 1px solid $darkGreen;
        padding: 2px;
        margin: 5px;
        font-size: 18px;
        color: $darkGreen;

        &:hover {
          color: $beige;
          transition: ease-in-out 0.2s;
          background-color: $backgroundGreen;
          cursor: pointer;
          border: 1px solid #010f0e;
        }
      }
    }

    .first-list,
    .second-list {
      border: 1px solid $darkGreen;
      margin: 5px;
      width: 50%;
    }

    .list-header {
      margin: 20px;
      border-bottom: 1px dotted $darkGreen;
    }
  }
}
