<template>
  <div class="hangman-wrapper">
    <h2 class="hangman-header">Hangman</h2>
    <h4 class="welcome-header">Welcome {{ playerName }}!</h4>
    <input
      v-if="!isPlaying"
      class="name-input"
      @keyup.enter="trigger"
      v-model="playerName"
      type="text"
      placeholder="Your name here..."
    />
    <Hangmanbox
      :correctWord="correctWord"
      :displayLetters="displayLetters"
      :playerName="playerName"
      @nextWord="setNextWord"
      :hint="hint"
      v-show="isPlaying"
    />
    <button
      @click="start()"
      :disabled="playerName.length < 3"
      ref="sendName"
      class="start-stop"
      v-if="!isPlaying"
    >
      Start
    </button>
  </div>
</template>

<script>
import Latinize from "latinize";
import Hangmanbox from "../components/HangmanBox";

export default {
  name: "Hangman",
  components: {
    Hangmanbox,
  },
  data() {
    return {
      countries: [],
      playerName: "",
      isPlaying: false,
      randomNameIndex: 0,
      newWord: "",
      correctWord: [],
      displayLetters: [],
      hint: "",
      highScores: {},
      capital: "",
    };
  },
  created() {
    this.getTownNames();
    this.getHighScores();
  },
  methods: {
    trigger() {
      this.$refs.sendName.click();
    },
    getHighScores() {
      this.highScores = JSON.parse(window.localStorage.getItem("highScores"));
    },
    getTownNames() {
      fetch("https://restcountries.eu/rest/v2/all", {
        method: "get",
      })
        .then((response) => {
          response.json().then((data) => {
            this.countries = data;
            this.setCorrectWord();
          });
        })
        .catch((error) => {
          console.log(error);
        });
    },
    getRandomNameIndex() {
      const min = 0;
      const max = 250;
      this.randomNameIndex = Math.floor(Math.random() * (max - min)) + min;
    },
    setCorrectWord() {
      this.getRandomNameIndex();
      this.newWord = this.countries[this.randomNameIndex].capital.toUpperCase();
      this.newWord = Latinize(this.newWord);
      this.hint = this.countries[this.randomNameIndex].name;
      this.splitWord();
    },
    splitWord() {
      this.randomWord = this.newWord.split("");
      if (this.randomWord) {
        this.correctWord = this.randomWord;
      }

      this.hideLetters();
    },
    hideLetters() {
      const newArray = this.correctWord.slice();
      for (let i = 0; i < newArray.length; i++) {
        if (newArray[i] !== " " && newArray[i] !== "-") {
          newArray[i] = "_ ";
        }
        this.displayLetters = newArray;
      }
    },
    start() {
      this.isPlaying = true;

      const playerScore = {};
      playerScore[this.playerName] = 0;

      if (this.highScores) {
        const highscoreList = JSON.parse(
          window.localStorage.getItem("highScores")
        );
        highscoreList[this.playerName] = 0;
        window.localStorage.setItem(
          "highScores",
          JSON.stringify(highscoreList)
        );
      } else {
        window.localStorage.setItem("highScores", JSON.stringify(playerScore));
      }
    },
    setNextWord(outcome) {
      if (outcome === "lose") {
        this.getHighScores();
        this.playerName = "";
        this.isPlaying = false;
      }
      this.setCorrectWord();
    },
  },
};
</script>
