<template>
  <div class="root">
    <div class="home-box">
      <h2 class="home-header">Hi, I'm Sonja!</h2>
      <p class="home-para">A front-end web developer.</p>
      <router-link to="/projects">
        <button class="view-projects-btn">View Projects</button>
      </router-link>
      <div class="links">
        <a href="https://gitlab.com/dashboard/projects" target="_blank"
          ><img class="link" :src="gitlab" alt=""
        /></a>

        <a
          href="https://www.linkedin.com/in/sonja-selvijovska-5b036a18b/"
          target="blank"
          ><img class="link" :src="linkedin"
        /></a>
      </div>
      <div class="email-wrapper">
        <h6 class="copy-mail-notification" v-if="copiedText">
          Email copied to clipboard!
        </h6>
        <input
          class="email-inp"
          ref="emailInput"
          v-model="mail"
          type="text"
          readonly
        />
        <button class="copy-mail-btn" @click="copyMail()">Copy e-mail</button>
      </div>
    </div>
  </div>
</template>

<script>
import gitlab from "../assets/gitlab.png";
import linkedin from "../assets/linkedin.png";
import email from "../assets/email.png";

export default {
  name: "Home",
  data() {
    return {
      gitlab: gitlab,
      linkedin: linkedin,
      email: email,
      mail: "sonja.selvijovska@gmail.com",
      copiedText: false,
    };
  },
  methods: {
    copyMail() {
      const inputText = this.$refs.emailInput;
      inputText.select();
      document.execCommand("copy");
      window.getSelection().removeAllRanges();
      this.copiedText = true;
      setTimeout(() => {
        this.copiedText = false;
      }, 2000);
    },
  },
};
</script>
