<template>
  <div class="mtg-wrapper">
    <h2 class="header">Magic The Gathering</h2>
    <div v-if="loaded" class="filters-wrapper">
      <div class="name-filter">
        <h4>Filter by name:</h4>
        <input
          type="text"
          v-model="searchName"
          placeholder="Search by name"
          class="input-filter"
        />
      </div>
      <div class="color-filter">
        <h4 class="color-filter-header">Filter by color:</h4>
        <div class="color-checkbox" v-for="color in colors" :key="color">
          <label :for="color.name" class="color"> {{ color.name }}</label
          ><input
            :id="color.name"
            type="checkbox"
            @click="toggleColor(color.name)"
          />
        </div>
      </div>
    </div>
    <div class="loader" v-if="!loaded">
      <h4 class="text-loader">Please wait</h4>
      <div class="lds-ellipsis">
        <div></div>
        <div></div>
        <div></div>
        <div></div>
      </div>
    </div>
    <div class="card-wrapper">
      <ul class="card-list">
        <li class="card" v-for="(card, index) in finalList" :key="index">
          <p>name: {{ card.name }}</p>
          <p>set: {{ card.setName }}</p>
          <p>type: {{ card.type }}</p>
          <img class="card-img" :src="card.imageUrl" />
          <p>text: {{ card.text }}</p>
          <p>color: {{ card.colors.toString() }}</p>
        </li>
      </ul>
    </div>
  </div>
</template>

<script>
export default {
  name: "MagicTheGathering",
  data() {
    return {
      apiCardList: [],
      filteredList: [],
      searchName: "",
      loaded: false,
      colors: {
        White: { active: false, name: "White" },
        Blue: { active: false, name: "Blue" },
        Red: { active: false, name: "Red" },
        Green: { active: false, name: "Green" },
        Black: { active: false, name: "Black" },
      },
    };
  },
  created() {
    this.fetchCards();
  },
  computed: {
    activeColors() {
      const filterColors = Object.values(this.colors).filter(
        (item) => item.active
      );
      return filterColors;
    },
    cardsList() {
      if (this.activeColors.length && this.activeColors.length > 0) {
        return this.filteredList;
      }
      return this.apiCardList;
    },
    finalList() {
      if (this.searchName.length > 0) {
        return this.cardsList.filter((item) =>
          item.name.toLowerCase().includes(this.searchName.toLowerCase())
        );
      }
      return this.cardsList;
    },
  },
  methods: {
    fetchCards() {
      let url =
        "https://api.magicthegathering.io/v1/cards?random=true&pageSize=100&language=English";
      fetch(url, {
        method: "get",
      })
        .then((response) => {
          response.json().then((data) => {
            this.apiCardList = data.cards;
            this.loaded = true;
          });
        })
        .catch((error) => {
          console.log(error);
        });
    },
    toggleColor(colorName) {
      this.colors[colorName].active = !this.colors[colorName].active;
      this.filterCards();
    },
    filterCards() {
      this.filteredList = [];
      for (let i = 0; i < this.apiCardList.length; i++) {
        const card = this.apiCardList[i];
        for (let j = 0; j < this.activeColors.length; j++) {
          const filterColor = this.activeColors[j];
          if (card.colors.includes(filterColor.name)) {
            this.filteredList.push(card);
          }
        }
      }
    },
  },
};
</script>
