<template>
  <router-link class="back-btn" :to="backRoute">
    Back
  </router-link>
  <router-view></router-view>
</template>

<script>
import ProjectLinks from "./ProjectLinks.vue";
export default {
  name: "Projects",
  components: [ProjectLinks],
  computed: {
    isRoot() {
      return this.$route.name === "ProjectLinks";
    },
    backRoute() {
      return this.isRoot ? "/" : "/projects";
    },
  },
};
</script>
