<template>
  <div class="projects-wrapper">
    <h1 class="header">Projects</h1>
    <div class="project-list">
      <div class="first-row">
        <div class="project">
          <router-link style="text-decoration:none" to="/projects/snake">
            <div class="project-box">
              <h4 class="project-header">Snake</h4>
            </div>
          </router-link>
        </div>
        <div class="project">
          <router-link style="text-decoration:none" to="/projects/hangman">
            <div class="project-box">
              <h4 class="project-header">Hangman</h4>
            </div>
          </router-link>
        </div>
        <div class="project">
          <router-link style="text-decoration:none" to="/projects/quiz">
            <div class="project-box">
              <h4 class="project-header">Quiz</h4>
            </div>
          </router-link>
        </div>
      </div>
      <div class="second-row">
        <div class="project">
          <router-link style="text-decoration:none" to="/projects/todolist">
            <div class="project-box">
              <h4 class="project-header">Todolist</h4>
            </div>
          </router-link>
        </div>
        <div class="project">
          <router-link
            style="text-decoration:none"
            to="/projects/magicthegathering"
          >
            <div class="project-box">
              <h4 class="project-header"><span>Magic</span>The Gathering</h4>
            </div>
          </router-link>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
export default {
  name: "ProjectLinks",
};
</script>
