<template>
  <Quiz
    @listUpdate="updateAnsweredQuestions"
    :questionIndex="index"
    v-if="loaded && testInProgress"
    :currentQuestion="questions[index]"
  />

  <div v-if="!loaded" class="quiz-loader">
    <h3 class="loading-text">
      Loading questions
    </h3>
    <div class="lds-roller">
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
    </div>
  </div>
  <div v-if="!testInProgress" class="results-wrapper">
    <button class="restart-quiz" v-if="!testInProgress" @click="resetQuiz">
      Restart Quiz
    </button>
    <h3 class="results-header">Results:</h3>
    <div
      class="results-container"
      v-for="(answer, answerIndex) in answeredQuestions"
      :key="answer"
    >
      <div v-html="questions[answerIndex].question"></div>
      <p class="answer">
        <span class="underlined">You answered: </span> {{ answer }}
      </p>
      <p class="answer">
        <span class="underlined">Correct Answer: </span>
        {{ questions[answerIndex].correct_answer }}
      </p>
    </div>
  </div>
</template>

<script>
import Quiz from "../components/Quiz";

export default {
  name: "quiz-results",
  components: {
    Quiz,
  },
  data() {
    return {
      questions: [],
      answeredQuestions: [],
      index: 0,
      loaded: false,
      testInProgress: true,
    };
  },
  created() {
    this.getNewQuiz();
  },
  methods: {
    getNewQuiz() {
      fetch("https://opentdb.com/api.php?amount=10&category=32&type=multiple", {
        method: "get",
      })
        .then((response) => {
          response.json().then((data) => {
            this.questions = data.results;
            this.loaded = true;
            this.sortAnswers();
          });
        })
        .catch((error) => {
          console.log(error);
        });
    },
    resetQuiz() {
      this.loaded = false;
      this.answeredQuestions = [];
      this.index = 0;
      this.testInProgress = true;
      this.getNewQuiz();
    },
    sortAnswers() {
      let questions = this.questions;
      for (let i = 0; i < questions.length; i++) {
        questions[i].incorrect_answers.push(questions[i].correct_answer);
        questions[i].incorrect_answers.sort();
      }
    },
    updateAnsweredQuestions(answer, question) {
      console.log(question);
      if (this.index === this.questions.length - 1) {
        this.testInProgress = false;
      } else {
        this.answeredQuestions.push(answer);
        this.index++;
      }
    },
  },
};
</script>
