<template>
  <div class="todo-wrapper">
    <h1 class="header">To-do list</h1>
    <div class="input-btn-wrapper">
      <div class="input-wrapper">
        <input
          class="title-input input"
          v-model="newItem.title"
          type="text"
          placeholder="Add title here"
        />
        <input
          class="description-input input"
          v-model="newItem.description"
          type="text"
          placeholder="Add description here"
        />
      </div>
      <button class="add-to-list-btn" @click="add()">Add to list</button>
    </div>

    <div class="list-wrapper">
      <div class="first-list">
        <h3 class="list-header">Pending</h3>
        <div class="list">
          <ul>
            <li
              v-for="(item, index) in firstList"
              :key="index"
              @click="moveItem(index)"
              class="item"
            >
              <p class="item-title">{{ item.title }}</p>
              <p class="item-description">{{ item.description }}</p>
            </li>
          </ul>
        </div>
      </div>
      <div class="second-list">
        <h3 class="list-header">Done</h3>
        <div class="list">
          <ul>
            <li
              class="item"
              v-for="(item, index) in secondList"
              :key="index"
              @click="returnItem(index)"
            >
              <p>{{ item.title }}</p>
              <p>{{ item.description }}</p>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "ToDoList",
  data() {
    return {
      firstList: [],
      secondList: [],
      newItem: {
        title: "",
        description: "",
      },
    };
  },
  methods: {
    add() {
      if (this.newItem.title !== "" && this.newItem.description !== "") {
        this.firstList.push({ ...this.newItem });
        this.newItem.title = "";
        this.newItem.description = "";
      }
    },
    moveItem(index) {
      this.secondList.push(this.firstList[index]);
      this.firstList.splice(index, 1);
    },
    returnItem(index) {
      this.firstList.push(this.secondList[index]);
      this.secondList.splice(index, 1);
    },
    removeItem(index, list, e) {
      e.stopPropagation();
      e.preventDefault();
      list.splice(index, 1);
    },
  },
};
</script>
