<template>
  <div class="game-over">
    <span>Game over!</span>You've scored {{ scores }} points.
  </div>
</template>

<script>
export default {
  name: "GameOverSnake",
  props: ["scores"],
};
</script>
