<template>
  <div class="hangman-box-wrapper">
    <div class="game-over-hangman" v-if="showResults">
      Game over! <span> Thanks for playing {{ playerName }}.</span>
    </div>
    <div class="svg-box">
      <svg
        class="svg-img"
        xmlns="http://www.w3.org/2000/svg"
        xmlns:xlink="http://www.w3.org/1999/xlink"
        viewBox="0 0 350 300"
        preserveAspectRatio="xMidYMid meet"
        stroke="black"
      >
        <line
          class="svg-line"
          v-if="strikes > 0"
          x1="80"
          y1="257"
          x2="260"
          y2="257"
        />
        <line
          class="svg-line"
          v-if="strikes > 1"
          x1="100"
          y1="257"
          x2="100"
          y2="40"
        />
        <line
          class="svg-line"
          v-if="strikes > 2"
          x1="100"
          y1="40"
          x2="230"
          y2="40"
        />
        <line
          class="svg-line"
          v-if="strikes > 3"
          x1="100"
          y1="80"
          x2="130"
          y2="40"
        />
        <line
          class="svg-line"
          v-if="strikes > 4"
          x1="230"
          y1="40"
          x2="230"
          y2="80"
        />
        <circle class="svg-line" v-if="strikes > 5" cx="230" cy="90" r="20" />
        <line
          class="svg-line"
          v-if="strikes > 6"
          x1="230"
          y1="110"
          x2="230"
          y2="170"
        />
        <line
          class="svg-line"
          v-if="strikes > 7"
          x1="230"
          y1="140"
          x2="250"
          y2="120"
        />
        <line
          class="svg-line"
          v-if="strikes > 8"
          x1="230"
          y1="140"
          x2="210"
          y2="120"
        />
        <line
          class="svg-line"
          v-if="strikes > 9"
          x1="230"
          y1="170"
          x2="250"
          y2="200"
        />
        <line
          class="svg-line"
          v-if="strikes > 10"
          x1="230"
          y1="170"
          x2="210"
          y2="200"
        />
      </svg>
    </div>
    <div>
      <div class="word-guess">
        <div class="guess-letters" v-if="strikes < 11">
          {{ DisplayLettersToString() }}
        </div>
        <div class="correct-letters" v-if="strikes >= 11">
          {{ CorrectWordToString() }}
        </div>

        <div class="hint-wrapper">
          <h3>Capital of {{ hint }}</h3>
        </div>

        <div class="alphabet-wrapper">
          <div
            class="possible-letters"
            v-for="(letter, index) in possibleLetters"
            :key="index"
          >
            <button
              @click="tryLetter(letter, index)"
              class="alphabet-letter"
              :ref="letter"
            >
              {{ letter }}
            </button>
          </div>
        </div>
      </div>
      <div class="score-strikes">
        <h4 class="score">Current Score: {{ score }}</h4>
        <h4 class="strikes">Strikes: {{ strikes }}/11</h4>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "Hangmanbox",
  props: ["correctWord", "displayLetters", "playerName", "hint", "nextWord"],
  data() {
    return {
      strikes: 0,
      score: 0,
      possibleLetters: [
        "A",
        "B",
        "C",
        "D",
        "E",
        "F",
        "G",
        "H",
        "I",
        "J",
        "K",
        "L",
        "M",
        "N",
        "O",
        "P",
        "Q",
        "R",
        "S",
        "T",
        "U",
        "V",
        "W",
        "X",
        "Y",
        "Z",
      ],
      diagonalStrike: false,
      showResults: false,
    };
  },
  methods: {
    DisplayLettersToString() {
      return this.displayLetters.join("");
    },
    CorrectWordToString() {
      return this.correctWord.join("");
    },
    setLocalScore() {
      const highScores = JSON.parse(window.localStorage.getItem("highScores"));
      highScores[this.playerName] = this.score;
      window.localStorage.setItem("highScores", JSON.stringify(highScores));
    },
    tryLetter(letter) {
      let letterChecked = false;
      let newArray = this.displayLetters;
      for (let i = 0; i < this.correctWord.length; i++) {
        if (letter === this.correctWord[i]) {
          newArray.splice(i, 1, letter);
          letterChecked = true;
          this.score += 10;
          this.setLocalScore();
          console.log(this.$refs);
        }
      }
      if (!letterChecked) {
        this.addStrike();
      }
      if (this.strikes === 11) {
        this.finishGame();
      }
      this.$refs[letter].disabled = true;
      this.$refs[letter].classList.add("diagonal-strike");
      if (!this.isWordCorrect()) {
        this.resetLetterButtons();
        this.showHint = false;
        this.$emit("nextWord", "win");
      }
    },
    isWordCorrect() {
      let notValid = false;
      for (var i = 0; i < this.displayLetters.length; i++) {
        if (this.displayLetters[i] !== this.correctWord[i]) {
          notValid = true;
        }
      }
      return notValid;
    },
    addStrike() {
      this.strikes++;
    },
    finishGame() {
      this.showResults = true;
      this.disableButtons();
      if (this.$refs.hintBtn) {
        this.$refs.hintBtn.disabled = true;
      }
    },
    disableButtons() {
      for (let i = 0; i < this.possibleLetters.length; i++) {
        const letter = this.possibleLetters[i];
        this.$refs[letter].disabled = true;
      }
    },
    resetLetterButtons() {
      for (let i = 0; i < this.possibleLetters.length; i++) {
        const letter = this.possibleLetters[i];
        this.$refs[letter].disabled = false;
        this.$refs[letter].classList.remove("diagonal-strike");
      }
    },
    closeResults() {
      this.showResults = false;
      this.strikes = 0;
      this.score = 0;
      this.resetLetterButtons();
      this.$emit("nextWord", "lose");
    },
  },
};
</script>
