<template>
  <div class="quiz-wrapper">
    <h3 class="quiz-header">Welcome to the quiz!</h3>
    <h1 class="question-header" v-html="currentQuestion.question"></h1>
    <div class="answers-container">
      <button
        class="answer-button"
        @click="onAnswerClick(answer, currentQuestion.question)"
        v-for="answer in currentQuestion.incorrect_answers"
        :key="answer"
        v-html="answer"
      ></button>
    </div>
    <h5 class="question-number">Question number: {{ questionIndex + 1 }}</h5>
  </div>
</template>

<script>
export default {
  name: "Quiz",
  props: ["currentQuestion", "questionIndex"],
  methods: {
    onAnswerClick(answer, question) {
      this.$emit("listUpdate", answer, question);
    },
  },
};
</script>
