<template>
  <router-view></router-view>
</template>

<script>
export default {
  name: "App",
};
</script>

<style lang="scss" (scoped)>
@import "../css/main.scss";

* {
  font-family: "Open Sans", sans-serif;
}
</style>
